---
ip: "192.168.10.10"
memory: 2048
cpus: 2
hostname: radio
name: radio
provider: virtualbox
box: laravel/homestead-7

authorize: ~/.ssh/id_rsa.pub

keys:
    - ~/.ssh/id_rsa

folders:
    - map: ~/Code
      to: "/home/vagrant/radio"

sites:
    - map: radio.app
      to: "/home/vagrant/radio/public"

databases:
    - homestead
